<%= form_for @meeting do |form| %>
	<div>
    	<%= form.text_field :agenda, placeholder: "Agenda" %>
	</div>
	<div>
    	<%= form.fields_for :discussions do |discussion| %>
    		<%= discussion.text_area :content, placeholder: "What was discussed in the meeting?", rows: 10 %>
    	<% end %>
	</div>
    <h2>Meeting Participants </h2>
    <%= form.fields_for :meeting_participants do |participant| %>
    	<%= render "participant_fields", form: participant %>
	<% end %>	
	<div class="links">
		<%= link_to_add_association 'add participant', form, :meeting_participants, partial: 'participant_fields'  %>
	</div>
    <%= form.submit "Create Meeting" %>
<% end %>
